.group {
  display: flex;
  margin-bottom: 15px;
  height: 34px;
}

.reverse {
  flex-direction: row-reverse;
}

.label {
  width: 16%;
  height: 100%;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}

.label > label {
  line-height: 34px;
  vertical-align: middle;
}

.input {
  width: 84%;
  padding-left: 15px;
  padding-right: 15px;
}

.input>input {
  display: inline-block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
}

.input>span {
  line-height: 34px;
}

.input>select {
  height: 34px;
}
